<div class="character" ng-controller="charCtrl">
    
    <div class="charName"> 
        <div class="charNameLabel" ng-click="changeName = true" ng-hide="changeName">NAME: {{charName}}</div>
        <input class="charNameInput" ng-blur="changeName = false" ng-show="changeName" type="text" ng-model="charName">        
    </div>

    <div class="strScore">
        <div class="strScoreLabel" ng-click="changeStr = true" ng-hide="changeStr">STR: {{strScore}}</div>
        <input class="strScoreInput" ng-blur="changeStr = false" ng-show="changeStr" type="text" ng-model="strScore">        
    </div>  

    <div class="carryCapacity">
        Carry Capacity: {{strScore * 15}} lbs
    </div>    

    <div class="pushPullLift">
        Push, Pull, Lift: {{strScore * 30}} lbs
    </div>

    <div class="currentLoad">
        <div>Current Load: {{load.toFixed(2)}} lbs</div>  
        <div>Available weight: {{(strScore * 15 - load).toFixed(2)}} lbs</div>
    </div>

    <div class="characterItems">
        <h3>Current Items: </h3>
        <div class="currentItems">
            <h4>Weapons:</h4>    
            <ul>
                <li title="{{weapon.description}}" value="{{weapon.name}}" ng-repeat="weapon in currentItems.weapon track by $index">{{weapon.name}} - {{weapon.weight}} lbs x {{weapon.quantity}}
                    <button class="removeBtn" ng-click="removeItem(weapon, currentItems.weapon)">REMOVE</button>
                </li>
            </ul>
            <h4>Armor:</h4> 
            <ul>
                <li title="{{armor.description}}" value="{{armor.name}}" ng-repeat="armor in currentItems.armor track by $index">{{armor.name}} - {{armor.weight}} lbs x {{armor.quantity}}
                    <button class="removeBtn" ng-click="removeItem(armor, currentItems.armor)">REMOVE</button>
                </li>
            </ul>
            <h4>Potions:</h4>
            <ul>
                <li title="{{potion.description}}" value="{{potion.name}}" ng-repeat="potion in currentItems.potion track by $index">{{potion.name}} - {{potion.weight}} lbs x {{potion.quantity}}
                    <button class="removeBtn" ng-click="removeItem(potion, currentItems.potion)">REMOVE</button>
                </li>
            </ul>
            <h4>Ammunition:</h4>
            <ul>
                <li title="{{ammo.description}}" value="{{ammo.name}}" ng-repeat="ammo in currentItems.ammunition track by $index">{{ammo.name}} - {{ammo.weight}} lbs x {{ammo.quantity}}
                    <button class="removeBtn" ng-click="removeItem(ammo, currentItems.ammunition)">REMOVE</button>
                </li>
            </ul>
            <h4>Clothing:</h4>
            <ul>
                <li title="{{article.description}}" value="{{article.name}}" ng-repeat="article in currentItems.clothing track by $index">{{article.name}} - {{article.weight}} lbs x {{article.quantity}}
                    <button class="removeBtn" ng-click="removeItem(article, currentItems.clothing)">REMOVE</button>
                </li>
            </ul>
            <h4>Arcane Focus:</h4>
            <ul>
                <li title="{{focus.description}}" value="{{focus.name}}" ng-repeat="focus in currentItems.arcane_focus track by $index">{{focus.name}} - {{focus.weight}} lbs x {{focus.quantity}}
                    <button class="removeBtn" ng-click="removeItem(focus, currentItems.arcane_focus)">REMOVE</button>
                </li>
            </ul>
            <h4>Druidic Focus:</h4>
            <ul>
                <li title="{{focus.description}}" value="{{focus.name}}" ng-repeat="focus in currentItems.druidic_focus track by $index">{{focus.name}} - {{focus.weight}} lbs x {{focus.quantity}}
                    <button class="removeBtn" ng-click="removeItem(focus, currentItems.druidic_focus)">REMOVE</button>
                </li>
            </ul>
            <h4>Holy Symbol:</h4>
            <ul>
                <li title="{{symbol.description}}" value="{{symbol.name}}" ng-repeat="symbol in currentItems.holy_symbol track by $index">{{symbol.name}} - {{symbol.weight}} lbs x {{symbol.quantity}}
                    <button class="removeBtn" ng-click="removeItem(symbol, currentItems.holy_symbol)">REMOVE</button>
                </li>
            </ul>
            <h4>Artisans Tools:</h4>
            <ul>
                <li title="{{tool.description}}" value="{{tool.name}}" ng-repeat="tool in currentItems.artisans_tools track by $index">{{tool.name}} - {{tool.weight}} lbs x {{tool.quantity}}
                    <button class="removeBtn" ng-click="removeItem(tool, currentItems.artisans_tools)">REMOVE</button>
                </li>
            </ul>
            <h4>Gaming Sets:</h4>
            <ul>
                <li title="{{game.description}}" value="{{game.name}}" ng-repeat="game in currentItems.gaming_set track by $index">{{game.name}} - {{game.weight}} lbs x {{game.quantity}}
                    <button class="removeBtn" ng-click="removeItem(game, currentItems.gaming_set)">REMOVE</button>
                </li>
            </ul>
            <h4>Kits:</h4>
            <ul>
                <li title="{{kit.description}}" value="{{kit.name}}" ng-repeat="kit in currentItems.kit track by $index">{{kit.name}} - {{kit.weight}} lbs x {{kit.quantity}}
                    <button class="removeBtn" ng-click="removeItem(kit, currentItems.kit)">REMOVE</button>
                </li>
            </ul>
            <h4>Musical Instruments:</h4>
            <ul>
                <li title="{{instrument.description}}" value="{{instrument.name}}" ng-repeat="instrument in currentItems.musical_instrument track by $index">{{instrument.name}} - {{instrument.weight}} lbs x {{instrument.quantity}}
                    <button class="removeBtn" ng-click="removeItem(instrument, currentItems.musical_instrument)">REMOVE</button>
                </li>
            </ul>
            <h4>Miscellaneous:</h4>
            <ul>
                <li title="{{item.description}}" value="{{item.name}}" ng-repeat="item in currentItems.miscellaneous track by $index">{{item.name}} - {{item.weight}} lbs x {{item.quantity}}
                    <button class="removeBtn" ng-click="removeItem(item, currentItems.miscellaneous)">REMOVE</button>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="addItems">
        Add Item:
        <label style="display: block">Search by Name: <input ng-model="searchName"></label>
        <button class="clearBtn" style="display: block" ng-click="clearSearchName()">Clear</button>
        Search by Type:
        <select ng-model="searchType">
            <option value="">All</option>
            <option value="weapon">Weapon</option>
            <option value="armor">Armor</option>
            <option value="potion">Potion</option>
            <option value="ammunition">Ammunition</option>
            <option value="clothing">Clothing</option>
            <option value="arcane_focus">Arcane Focus</option>
            <option value="druidic_focus">Druidic Focus</option>
            <option value="holy_symbol">Holy Symbol</option>
            <option value="artisans_tools">Artisan's Tools</option>
            <option value="gaming_set">Gaming Set</option>
            <option value="kit">Kit</option>
            <option value="musical_instrument">Musical Instrument</option>
            <option value="miscellaneous">Miscellaneous</option>
        </select>
        <ul>
            <li title="{{item.description}}" value="{{item.name}}" ng-click="addItem(item)" ng-repeat="item in itemList | filter:{'name': searchName, 'type': searchType}">{{item.name}} - {{item.weight}} lbs</li>
        </ul>
    </div> 
    <button class="saveBtn" ng-click="saveChar(charName)">Save Character</button> 
    <button class="loadBtn" ng-click="loadNewChar = !loadNewChar" ng-show="!loadNewChar">Load Character</button>    
    <label for="character" ng-show="loadNewChar">Pick a Character to Load</label>
    <select name="loadCharacters" ng-model="selected" ng-show="loadNewChar" ng-options="character for character in characters"></select> 
    <button class="confirmBtn" ng-click="loadChar(selected); loadNewChar = !loadNewChar" ng-show="loadNewChar">OK</button>
    <button class="cancelBtn" ng-click="loadNewChar = !loadNewChar" ng-show="loadNewChar">Cancel</button>
    <!--<button ng-click="deleteChar(charName)">Delete Character</button>-->
</div>