.character {
    display: flex;
    flex-direction: column;
}

.topRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.bottomRow {
    display: flex;
    flex-direction: row;
}

.topRow div,
.bottomRow div {
    margin-right: 10px;
}