.character {
  height: auto;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 50px 50px 50px 50px 50px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas: "item1 item6 item7" "item2 item6 item7" "item3 item6 item7" "item4 item6 item7" "item5 item6 item7";
}
.charName {
  border: solid black 5px;
  border-radius: 8px;
  grid-area: item1;
}
.strScore {
  border: solid black 5px;
  border-radius: 8px;
  grid-area: item2;
}
.carryCapacity {
  border: solid black 5px;
  border-radius: 8px;
  grid-area: item3;
}
.pushPullLift {
  border: solid black 5px;
  border-radius: 8px;
  grid-area: item4;
}
.currentLoad {
  border: solid black 5px;
  border-radius: 8px;
  grid-area: item5;
}
.characterItems {
  border: solid black 5px;
  border-radius: 8px;
  grid-area: item6;
}
.currentItems {
  width: 100%;
  height: 80%;
  overflow: scroll;
  overflow-x: hidden;
}
.currentItems ul li:hover {
  cursor: default;
}
.addItems {
  border: solid black 5px;
  border-radius: 8px;
  grid-area: item7;
}
.addItems .items {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 32%;
  overflow: scroll;
  overflow-x: hidden;
}
.addItems .items li {
  font-size: 0.8rem;
  transition: 0.2s ease;
}
.addItems .items li:hover {
  cursor: pointer;
  background-color: gray;
  color: white;
}
.character {
  margin-top: 20px;
}
#characters select {
  border: solid black 2px;
}
#createNewChar,
#deleteBtn,
#deleteConfirmBtn,
.closeBtn,
.confirmBtn,
.cancelBtn,
.clearBtn,
.removeBtn,
.saveBtn,
.loadBtn,
.charNameLabel,
.strScoreLabel {
  cursor: pointer;
}
