<div id="characters" ng-controller="charsCtrl">
    <button id="createNewChar" ng-click="createNewChar()">Create New Character</button>    
    <button ng-click="deleteNewChar = !deleteNewChar" ng-show="!deleteNewChar">Delete Character</button> 
    <select name="characters" ng-model="character" ng-show="deleteNewChar">
        <option value="{{character}}" ng-repeat="character in characters track by $index">{{character}}</option>
    </select>  
    <button ng-click="deleteChar(character); deleteNewChar = !deleteNewChar" ng-show="deleteNewChar">DELETE</button>
    <button ng-click="deleteNewChar = !deleteNewChar" ng-show="deleteNewChar">Cancel</button> 
</div>  